altgraph
bcrypt==4.3.0
blinker==1.9.0
click==8.1.8
Deprecated==1.3.1
exceptiongroup==1.3.1
Flask==3.1.3
gunicorn==23.0.0
Flask-Cors==4.0.2
Flask-Limiter==3.11.0
future
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
limits==4.2
macholib
markdown-it-py==3.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
ordered-set==4.1.0
packaging==24.2
pluggy==1.6.0
Pygments==2.20.0
PyJWT==2.12.1
pytest==8.4.2
rich==13.9.4
six
tomli==2.4.1
typing_extensions==4.15.0
Werkzeug==3.1.8
wrapt==2.1.2
zipp==3.23.1
